doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar
        a(href='/users/inserisci') Nuova unità
        br
        a(href='/users/unita') Elenco unità
block content